@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #010a01;
}

.neon-btn {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 200;
  border-radius: 2rem;
  border:0.2rem solid #fff;
  outline: none;
  padding: 12px 28px;
  font-size: 45px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  transition: all .3s ease;
  background-color: #010a01;
  text-shadow: -0.2rem -0.2rem 1rem red, 0.2rem 0.2rem 1rem red, 0 0 2rem red, 0 0 4rem red, 0 0 6rem red, 0 0 8rem red, 0 0 10rem red;  
  box-shadow: 0 0 .5rem red, inset 0 0 .5rem red, 0 0 2rem red, inset 0 0 2rem red, 0 0 4rem red, inset 0 0 4rem red;
  animation: pulse 1s infinite alternate; 
}

.neon-btn:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9), inset 0 0 15px rgba(0, 0, 0, 0.9), 0 0 20px red, inset 0 0 20px red, 0 0 40px red, inset 0 0 40px red;
}
